* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.kuliah {
	padding: 5px 0;
	background-color: #8FBC8F;
}
.kuliah h1 {
	float: left;
	padding: 15px 0;
	color: #fff;
}
.kuliah a {
	float: right;
	padding: 8px 0;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: "";
	display: block;
	clear: both;
}

.banner {
	height: 70vh;
	background-image: url(img/3.png);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: left;
}
.banner:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(240, 230, 140, .6);
}
.banner textbox {
	background-color:  #F0FFFF;
	z-index: 1;
	border-radius: 5%;
	border: 3px solid #000000;
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px 30px;
}
section {
	padding: 50px 0;
}